.bash_history
.bash_profile
.cache
.local
.pki
.Xauthority
.dbus

.ssh
.mozilla
desktop

.config/coc
.config/configstore
.config/dconf
.config/GIMP
.config/gnupg
.config/gtk-3.0
.config/libreoffice
.config/neofetch
.config/nitrogen
.config/procps
.config/pulse
.config/zathura
.config/wallpapers

.config/vim/autolaod/
.config/vim/plugged/
.config/vim/.netrwhist
